<div class="container my-5">

    <h3>Chỉnh sửa dữ liệu</h3>
    <form action="/admin/edit/{{cat._id}}?_method=PUT" method="POST">
        <div class="form-group">
            <label for="name" style="min-width: 100px;">Tên mèo</label>
            <input type="text" name="name" class="form-group" id="name" value="{{cat.name}}">
        </div>
        <div class="form-group">
            <label for="breed" style="min-width: 100px;">Giống</label>
            <input type="text" name="breed" class="form-group" id="breed" value="{{cat.breed}}">
        </div>
        <div class="form-group">
            <label for="birthday" style="min-width: 100px;">Ngày sinh</label>
            <input type="date" name="birthday" data-date="{{cat.birthday}}" class="form-group" id="birthday">
        </div>
        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select name="gender" class="form-control" id="gender-input" data="{{cat.gender}}">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Đực</option>
                <option value="female">Cái</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fb" style="min-width: 100px;">Đường dẫn FB</label>
            <input style="width: 100%;" type="text" name="fb" class="form-group" id="fb" value="{{cat.fb}}">
        </div>
        <div class="form-group">
            <label for="img1" style="min-width: 100px;">Ảnh 1</label>
            <input style="width: 100%;" type="text" name="img1" class="form-group" id="img1" value="{{cat.img1}}">
        </div>
        <div class="form-group">
            <label for="img2" style="min-width: 100px;">Ảnh 2</label>
            <input style="width: 100%;" type="text" name="img2" class="form-group" id="img2" value="{{cat.img2}}">
        </div>
        <div class="form-group">
            <label for="img3" style="min-width: 100px;">Ảnh 3</label>
            <input style="width: 100%;" type="text" name="img3" class="form-group" id="img3" value="{{cat.img3}}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Gán giá trị cho select
        var select = $('#gender-input')
        var gender = $('#gender-input').attr('data')

        // Cách gán giá trị cho select  1
        select.val(`${gender}`).change()

        // Cách 2
        //    $(`#gender-input option[value="${gender}"]`).attr('selected', 'selected')



        // Gán giá trị cho input date
        var date = $('#birthday').attr('data-date')         // dd-mM-yyyy
        date = date.split('-').reverse().join('-')          // yyyy-MM-dd
        $('#birthday').val(date)
    })

</script>