<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <span style="cursor:pointer; font-size: 20px;" onclick="openNav()" class="text-dark menu-slide"><i
            class="fas fa-bars menu-icon"></i></span>
    {{!-- <ul class="nav nav-pills nav-fill justify-content-center bg-secondary">
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-header nav-link text-light" href="/contact">Contact</a>
        </li>
        <li class="nav-header nav-item">

        </li>
    </ul> --}}
    <div id="mySidenav" class="sidenav bg-secondary">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="slidebar">
            <div class="slide-bar-bottom mt-5">
                <div class="slide-bar-bottom-content ml-3">
                    <div class="slide-bar-title">
                        <span class="title-text">
                            MENU
                        </span>
                        <div class="line-title"></div>
                    </div>
                    <div class="row w-100">
                        <div class="pt-2" id="category">

                            <a class="nav-header nav-link text-light" href="/">Home</a>

                            <a class="nav-header nav-link text-light" href="/shop">Shop</a>

                            <a class="nav-header nav-link text-light" href="/contact">Contact</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="slidebar-top ml-3">
                <div class="slide-bar-title mb-3">
                    <span class="title-text">
                        Vermicelli Cattery
                    </span>
                    <div class="line-title"></div>
                </div>
                <div class="slide-bar-top-content">
                    <a href="https://www.facebook.com/nga.nguyen2303" class="text-decoration-none d-block text-light">
                        <i class="fab fa-facebook-f fa-lg fa-fw p-1"></i>
                        <span>Facebook</span>
                    </a>


                    <a href="tel:0989996916" class="text-decoration-none text-light">
                        <i class="fa fa-phone fa-fw"></i>
                        098 999 69 16
                    </a>



                    <a href="mailto:nga.nguyenthi2303@gmail.com" class="text-decoration-none text-light">
                        <i class="fa fa-envelope fa-fw"></i>
                        <span style="font-size: 14px;">nga.nguyenthi2303@gmail.com</span>
                    </a>
                </div>
            </div>
            <div class="slide-bar-bottom mt-5">
                <div class="slide-bar-bottom-content ml-3">
                    <div class="slide-bar-title">
                        <span class="title-text">
                            Categories
                        </span>
                        <div class="line-title"></div>
                    </div>
                    <div class="row w-100">
                        <div class="pt-2" id="category">

                            <ul class="bottom-list">
                                {{#each breeds}}
                                <li class="bottom-list-item">
                                    <a href="/shop/categories/{{this}}" class="text-light">Giống
                                        {{this}}</a>
                                </li>
                                {{/each}}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="shop-content" id="main">
        <i onclick="goBack()" class="fas fa-arrow-left py-4 text-dark pl-3" style="font-size: 24px;"></i>
        <div class="row pt-3 mx-1">
            <div class="row">
                {{#each cats}}
                <div class="col-6 col-md-4 col-lg-3 p-2 mb-3" id="content-sceen">
                    <div class="card product-wrap shadow">
                        <img src="{{this.img1}}" alt="" class="card-img img-fluid img-responsive">
                        <div class="card-body text-center">
                            <a href="/shop/detail/{{this.slug}}"
                                class="h3 text-decoration-none text-dark stretched-link">{{this.name}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- <div class="row justify-content-center mt-4">
            <ul class="pagination pagination-lg">
                <li class="page-item ">
                    <a class="page-link rounded-0 mr-3 border-top-0 border-left-0 bg-dark text-light" href="#"
                        tabindex="-1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 border-top-0 border-left-0 bg-dark text-light" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link rounded-0 mr-3 border-top-0 border-left-0 bg-dark text-light" href="#">3</a>
                </li>
            </ul>
        </div>
        --}}

        <div class="row justify-content-center mt-4">
            {{{pagination current pages path}}}
        </div>



    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>